<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0" metadata-complete="true">
	<display-name>AuthoringToolWebServer</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	    <welcome-file>index.htm</welcome-file>
	    <welcome-file>index.jsp</welcome-file>
	    <welcome-file>default.html</welcome-file>
	    <welcome-file>default.htm</welcome-file>
	    <welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
	    <servlet-name>ProjectManager</servlet-name>
	    <servlet-class>com.proton.servlet.ProjectManager</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ProjectManager</servlet-name>
	    <url-pattern>/ProjectManager/*</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FileServer</servlet-name>
	    <servlet-class>com.proton.servlet.FileServer</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>FileServer</servlet-name>
	    <url-pattern>/FileServer/*</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>Verifier</servlet-name>
	    <servlet-class>com.proton.servlet.Verifier</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Verifier</servlet-name>
	    <url-pattern>/Verifier/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
	  	<servlet-class>org.apache.wink.server.internal.servlet.RestServlet</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
		    <param-value>com.proton.servlet.WebApplication</param-value>
		</init-param>
	    <load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>javax.ws.rs.core.Application</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>
</web-app>